body{
	background-image:url("backgrounds/index2.jpg");
    }
.red{
	margin-left:100px;
    }
.red3{
	margin-left:100px;
    }
.red6{
	margin-left:100px;
    }
.hi{
	margin-left:85px;
	position:absolute;
	top:335px;
   }
.hello{
	margin-left:40px;
	position:absolute;
	top:335px;
    }

.grab{
	margin-left:90px;
	position:absolute;
	top:335px;
    }
.stud{
	margin-left:50px;
	position:absolute;
	top:335px;
    }
.study{
	margin-left:70px;
	position:absolute;
	top:615px;
    }
.stod{
	margin-left:40px;
	position:absolute;
	top:615px;
    }
.stole{
	margin-left:90px;
	position:absolute;
	top:615px;
    }

.stid{
	margin-left:100px;
	position:absolute;
	top:615px;
    }
.stron{
	margin-left:80px;
	position:absolute;
	top:895px;
    }
.qwe{
	margin-left:100px;
	position:absolute;
	top:895px;
    }
.few{
	margin-left:100px;
	position:absolute;
	top:895px;
    }